.deltakerboks-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
    margin: auto;
}

.deltakerboks-liste {
    list-style: none;
    text-align: center;
    width: 33%;
    padding-left: 0px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
    .deltakerboks-liste {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .deltakerboks-liste {
        width: 100%;
    }
}

.deltaker-liste-detalj {
    text-align: left;
    padding-left: 30%;
}

@media only screen and (max-width: 1200px) {
    .deltaker-liste-detalj {
        padding-left: 20%;
    }
}


.deltakerbilde {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding-left: 15px;
}